<tr>
    <td><span class="glyphicon glyphicon-key" title="Public Key"></span></td>
    <td class="nowrap">{{this.type_}}</td>
    <td>
        <a href="{{@root.link_base}}/{{this.id}}">
            <span class="fingerprint_md5">{{this.fingerprint_md5}}</span>
            <span class="fingerprint_sha256">{{this.fingerprint_sha256}}</span>
        </a>
    </td>
    <td>{{this.keysize}}</td>
    <td>{{this.comment}}</td>
</tr>