{{#> par_base }}
{{#*inline "sactive"}}
active
{{/inline}}
{{#*inline "content"}}
{{log sub}}
<h1><span class="glyphicon glyphicon-hdd" title="Server"></span> {{sub.server.hostname}}</h1>
{{#if (or user.is_admin sub.is_admin)}}
{{#if (eq sub.server.key_management "Keys")}}
<form method="post" action="">
	{{!-- <?php out($this->get('active_user')->get_csrf_field(), ESC_NONE) ?> --}}
	<dl class="oneline">
		<dt>Sync status: </dt>
		<dd id="server_sync_status" {{#if sub.server.event}} data-class="warning" data-message="Not synced yet" {{else}}
			data-class="{{transform_sync_label sub.server.sync_status sub.server.key_management}}"
			data-message="{{sub.event.details.value}}" {{/if}}>
			<span></span>
			<div class="spinner"></div>
			<a href="../../help" class="btn btn-info btn-xs hidden">Explain</a>
			<button name="sync" value="1" type="submit" class="btn btn-default btn-xs invisible">Sync now</button>
		</dd>
	</dl>
</form>
{{/if}}
{{/if}}
<ul class="nav nav-tabs">
	<li><a href="#accounts" data-toggle="tab">Accounts</a></li>
	<li><a href="#admins" data-toggle="tab">Administrators</a></li>
	<li><a href="#settings" data-toggle="tab">Settings</a></li>
	{{#if user.is_admin}}
	<li><a href="#notes" data-toggle="tab">Notes<span class="badge"></span></a></li>
	<li><a href="#contact" data-toggle="tab">Contact</a></li>
	{{/if}}
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane fade" id="accounts">
		<h2 class="sr-only">
			{{#if (eq sub.server.authorization "Manual")}}
			Accounts
			{{else}}
			Non-LDAP accounts
			{{/if}}
		</h2>
		{{#if (eq sub.accounts_len 0)}}
		<p>No accounts have been created yet.</p>
		{{else}}
		<form method="post" action="">
			{{!-- <?php out($this->get('active_user')->get_csrf_field(), ESC_NONE) ?> --}}
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Account</th>
							{{#if (eq sub.server.key_management "Keys")}}
							<th>Sync status</th>
							{{/if}}
							<th>Account actions</th>
						</tr>
					</thead>
					<tbody>
						{{#each sub.accounts}}
						<tr>
							<th>
								<a href="accounts/{{this.entity_id}}" class="serveraccount">{{this.name}}</a>
							</th>
							{{#if (eq @root.sub.server.key_management "Keys")}}
							<td>
								<span id="server_account_sync_status_{{this.name}}" class="server_account_sync_status"
									data-class="{{transform_sync_label this.sync_status @root.sub.server.key_management}}"
									data-message="{{transform_sync this.sync_status}}"></span>
							</td>
							{{/if}}
							<td>
								<a href="accounts/{{this.entity_id}}" class="btn btn-default btn-xs"><span
										class="glyphicon glyphicon-cog"></span> Manage
									account</a>
								{{#if (not (eq this.name "root"))}}
								<button type="submit" name="delete_account" value="<?php out($account->id) ?>"
									class="btn btn-default btn-xs"
									data-confirm="Are you sure you want to delete this account?"><span
										class="glyphicon glyphicon-trash"></span> Delete account</button>
								{{/if}}
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</form>
		{{/if}}
		<form method="post" action="" class="form-inline">
			{{!-- <?php out($this->get('active_user')->get_csrf_field(), ESC_NONE) ?> --}}
			<h3>Create account</h3>
			<div class="form-group">
				<label for="account_name" class="sr-only">Account name</label>
				<input type="text" id="account_name" name="account_name" class="form-control" placeholder="Account name"
					required pattern=".*[^\s].*">
			</div>
			<button type="submit" name="add_account" value="1" class="btn btn-primary">Manage this account with SSH Key
				Authority</button>
		</form>
	</div>
	<div class="tab-pane fade" id="admins">
		<h2 class="sr-only">Server administrators</h2>
		<p class="alert alert-danger">This server does not have any administrators assigned.</p>
		<form method="post" action="<?php outurl($this->data->relative_request_url)?>">
			{{!-- <?php out($this->get('active_user')->get_csrf_field(), ESC_NONE) ?> --}}
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					{{!-- <thead>
					<tr>
						<th>Entity</th>
						<th>Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach($this->get('server_admins') as $admin) { ?>
						<?php if(strtolower(get_class($admin)) == "user"){?>
							<tr>
								<td><a href="<?php outurl('/users/'.urlencode($admin->uid))?>" class="user"><?php out($admin->uid) ?></a></td>
								<td><?php out($admin->name); if(!$admin->active) out(' <span class="label label-default">Inactive</span>', ESC_NONE) ?></td>
								<?php if($this->get('admin')) {?>
								<td>
									<button type="submit" name="delete_admin" value="<?php out($admin->id) ?>" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Remove admin</button>
								</td>
								<?php } ?>
							</tr>
						<?php } elseif(strtolower(get_class($admin)) == "group"){ ?>
							<tr>
								<td><a href="<?php outurl('/groups/'.urlencode($admin->name))?>" class="group"><?php out($admin->name) ?></a></td>
								<td><?php out($admin->name); if(!$admin->active) out(' <span class="label label-default">Inactive</span>', ESC_NONE) ?></td>
								<?php if($this->get('admin')) { ?>
								<td>
									<button type="submit" name="delete_admin" value="<?php out($admin->id) ?>" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Remove admin</button>
								</td>
								<?php } ?>
							</tr>
						<?php }} ?>
				</tbody> --}}
				</table>
			</div>
		</form>
		<form method="post" action="" class="form-inline">
			{{!-- <?php out($this->get('active_user')->get_csrf_field(), ESC_NONE) ?> --}}
			<h3>Add administrator</h3>
			<div class="form-group">
				<label for="user_name" class="sr-only">User or group name</label>
				<input type="text" id="user_name" name="user_name" class="form-control" placeholder="User or group name"
					required list="userlist">
				<datalist id="userlist">
					{{!-- <?php foreach($this->get('all_users') as $user) { ?>
					<option value="<?php out($user->uid)?>" label="<?php out($user->name)?>">
					<?php } ?>
					<?php foreach($this->get('all_groups') as $group) { ?>
					<option value="<?php out($group->name)?>" label="<?php out($group->name)?>">
					<?php } ?> --}}
				</datalist>
			</div>
			<button type="submit" name="add_admin" value="1" class="btn btn-primary">Add administrator to
				server</button>
		</form>
	</div>
	<div class="tab-pane fade" id="settings">
		<h2 class="sr-only">Settings</h2>
		<form id="server_settings" method="post" action="" class="form-horizontal">
			{{!-- <?php out($this->get('active_user')->get_csrf_field(), ESC_NONE) ?> --}}
			<div class="form-group">
				<label for="hostname" class="col-sm-2 control-label">Hostname</label>
				<div class="col-sm-10">
					<input type="text" id="hostname" name="hostname" value="{{sub.hostname}}" required
						class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="port" class="col-sm-2 control-label">SSH port number</label>
				<div class="col-sm-2">
					<input type="number" id="port" name="port" value="{{sub.port}}" required class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="rsa_key_fingerprint" class="col-sm-2 control-label">Host key fingerprint</label>
				<div class="col-sm-4">
					<input type="text" id="rsa_key_fingerprint" name="rsa_key_fingerprint"
						value="{{sub.rsa_key_fingerprint}}" readonly class="form-control">
				</div>
				<div class="col-sm-6">
					<button type="button" class="btn btn-default" data-clear="rsa_key_fingerprint">Clear</button>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Key management</label>
				<div class="col-sm-10">
					<div class="radio">
						<label class="text-success">
							<input type="radio" name="key_management" value="keys">
							SSH keys managed and synced by SSH Key Authority
						</label>
					</div>
					<div class="radio">
						<label class="text-danger">
							<input type="radio" name="key_management" value="none">
							Disabled - server has no key management
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="key_management" value="other">
							Disabled - SSH keys managed by another system
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="key_management" value="decommissioned">
							Disabled - server has been decommissioned
					</div>
				</div>
			</div>
			<div class="form-group" id="authorization">
				<label class="col-sm-2 control-label">Accounts</label>
				<div class="col-sm-10">
					<div class="radio">
						<label>
							<input type="radio" name="authorization" value="manual">
							All accounts on the server are manually created
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="authorization" value="automatic LDAP">
							Accounts will be linked to LDAP and created automatically on the server
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="authorization" value="manual LDAP">
							Accounts will be based on LDAP usernames but created manually on the server
						</label>
					</div>
				</div>
			</div>
			{{!-- <?php $options = $this->get('ldap_access_options'); ?>
			<div class="form-group<?php if($this->get('server')->key_management != 'keys' || $this->get('server')->authorization == 'manual') out(' hide') ?>" id="ldap_access_options">
				<label class="col-sm-2 control-label">LDAP access options</label>
				<div class="col-sm-10">
					<div class="checkbox">
						<label><input type="checkbox" name="access_option[command][enabled]"<?php if(isset($options['command'])) out(' checked'); ?>> Specify command (<code>command=&quot;command&quot;</code>)</label>
					</div>
					<input type="text" id="command_value" name="access_option[command][value]" value="<?php if(isset($options['command'])) out($options['command']->value); ?>" class="form-control">
					<div class="checkbox">
						<label><input type="checkbox" name="access_option[from][enabled]"<?php if(isset($options['from'])) out(' checked'); ?>> Restrict source address (<code>from=&quot;<abbr title="A pattern-list is a comma-separated list of patterns.  Each pattern can be either a hostname or an IP address, with wildcards (* and ?) allowed.">pattern-list</abbr>&quot;</code>)</label>
					</div>
					<input type="text" id="from_value" name="access_option[from][value]" value="<?php if(isset($options['from'])) out($options['from']->value); ?>" class="form-control">
					<div class="checkbox">
						<label><input type="checkbox" name="access_option[environment][enabled]"<?php if(isset($options['environment'])) out(' checked'); ?>> Define environment variables (<code>environment=&quot;KEY1=VAL KEY2=VAL&quot;</code>)</label>
					</div>
					<input type="text" id="environment_value" name="access_option[environment][value]" value="<?php if(isset($options['environment'])) out($options['environment']->value); ?>" class="form-control">
					<div class="checkbox">
						<label><input type="checkbox" name="access_option[no-agent-forwarding][enabled]"<?php if(isset($options['no-agent-forwarding'])) out(' checked'); ?>> Disallow agent forwarding (<code>no-agent-forwarding</code>)</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="access_option[no-port-forwarding][enabled]"<?php if(isset($options['no-port-forwarding'])) out(' checked'); ?>> Disallow port forwarding (<code>no-port-forwarding</code>)</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="access_option[no-X11-forwarding][enabled]"<?php if(isset($options['no-X11-forwarding'])) out(' checked'); ?>> Disallow X11 forwarding (<code>no-X11-forwarding</code>)</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="access_option[no-user-rc][enabled]"<?php if(isset($options['no-user-rc'])) out(' checked'); ?>> Disables execution of ~/.ssh/rc (<code>no-user-rc</code>)</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="access_option[no-pty][enabled]"<?php if(isset($options['no-pty'])) out(' checked'); ?>> Disable terminal (<code>no-pty</code>)</label>
					</div>
				</div>
			</div> --}}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" name="edit_server" value="1" class="btn btn-primary">Change settings</button>
				</div>
			</div>
			<dl>
				<dt>SSH port number</dt>
				<dd>{{sub.port}}</dd>
				<dt>Key management</dt>
				<dd>
					{{!-- <?php
					switch($this->get('server')->key_management) {
					case 'keys': out('SSH keys managed and synced by SSH Key Authority'); break;
					case 'none': out('Disabled - server has no key management'); break;
					case 'other': out('Disabled - SSH keys managed by another system'); break;
					case 'decommissioned': out('Disabled - server has been decommissioned'); break;
					}
					?> --}}
				</dd>
				<dt>Accounts</dt>
				<dd>
					{{!-- <?php
					switch($this->get('server')->authorization) {
					case 'manual': out('All accounts on the server are manually created'); break;
					case 'automatic LDAP': out('Accounts will be linked to LDAP and created automatically on the server'); break;
					case 'manual LDAP': out('Accounts will be based on LDAP usernames but created manually on the server'); break;
					}
					?> --}}
				</dd>
				<dt>LDAP access options</dt>
				<dd>
					{{!-- <?php
					$optiontext = array();
					foreach($this->get('ldap_access_options') as $option) {
						$optiontext[] = $option->option.(is_null($option->value) ? '' : '="'.str_replace('"', '\\"', $option->value).'"');
					}
					if(count($optiontext) == 0) {
						out('No options set');
					} else {
						?>
						<code><?php out(implode(' ', $optiontext)) ?></code>
						<?php
					}
					?> --}}
				</dd>
			</dl>
			<div class="form-group">
				<label for="rsa_key_fingerprint" class="col-sm-2 control-label">Host key fingerprint</label>
				<div class="col-sm-4">
					<input type="text" id="rsa_key_fingerprint" name="rsa_key_fingerprint"
						value="{{sub.rsa_key_fingerprint}}" readonly class="form-control">
				</div>
				<div class="col-sm-6">
					<button type="button" class="btn btn-default" data-clear="rsa_key_fingerprint">Clear</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" name="edit_server" value="1" class="btn btn-primary">Change settings</button>
				</div>
			</div>
		</form>
	</div>
	<div class="tab-pane fade" id="log">
		<h2 class="sr-only">Log</h2>
		<div class="table-responsive">
			<table class="table">
				<col>
				</col>
				<col>
				</col>
				<col>
				</col>
				<col class="date">
				</col>
				<thead>
					<tr>
						<th>Entity</th>
						<th>User</th>
						<th>Activity</th>
						<th>Date (<abbr title="Coordinated Universal Time">UTC</abbr>)</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	<div class="tab-pane fade" id="notes">
		<h2 class="sr-only">Notes</h2>
		<form method="post" action="">
			{{!-- <?php out($this->get('active_user')->get_csrf_field(), ESC_NONE) ?> --}}
			{{!-- <?php foreach($this->get('server_notes') as $note) { ?>
			<div class="panel panel-default">
				<div class="panel-body pre-formatted"><?php out($this->get('output_formatter')->comment_format($note->note), ESC_NONE)?></div>
				<div class="panel-footer">
					Added <?php out($note->date)?> by <?php if(is_null($note->user->uid)) { ?>removed<?php } else { ?><a href="<?php outurl('/users/'.urlencode($note->user->uid))?>" class="user"><?php out($note->user->uid) ?></a><?php } ?>
					<button name="delete_note" value="<?php out($note->id)?>" class="pull-right btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</button>
				</div>
			</div>
			<?php } ?> --}}
		</form>
		<form method="post" action="">
			{{!-- <?php out($this->get('active_user')->get_csrf_field(), ESC_NONE) ?> --}}
			<div class="form-group">
				<label for="note">Note</label>
				<textarea class="form-control" rows="4" id="note" name="note" required></textarea>
			</div>
			<div class="form-group">
				<button type="submit" name="add_note" value="1" class="btn btn-primary btn-lg btn-block">Add
					note</button>
			</div>
		</form>
	</div>
	<div class="tab-pane fade" id="contact">
		<h2 class="sr-only">Contact</h2>
		<form method="post" action="">
			{{!-- <?php out($this->get('active_user')->get_csrf_field(), ESC_NONE) ?> --}}
			{{!-- <div class="form-group">
				<label for="anonymous">From</label>
				<select class="form-control" id="anonymous" name="anonymous">
					<option value="0"><?php out("{$this->get('active_user')->name} <{$this->get('active_user')->email}>");?></option>
					<option value="1"><?php out($this->get('email_config')['from_name'])?> &lt;<?php out($this->get('email_config')['from_address'])?>&gt; (Reply-to: <?php out($this->get('email_config')['admin_address']) ?>)</option>
				</select>
			</div> --}}
			<div class="form-group">
				<label>Recipients</label>
				<div class="radio">
					<label>
						<input type="radio" name="recipients" value="admins" checked>
						Server admins of {{sub.hostname}}
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="recipients" value="root_users">
						All users with access to root@{{sub.hostname}}
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="recipients" value="users">
						All users with access to accounts on {{sub.hostname}}
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="hide_recipients" name="hide_recipients">
						Hide recipient list
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="subject">Subject</label>
				<input type="text" class="form-control" id="subject" name="subject" required
					value="Server {{sub.hostname}}">
			</div>
			<div class="form-group">
				<label for="body">Body</label>
				<textarea class="form-control" rows="20" id="body" name="body" required></textarea>
			</div>
			<div class="form-group"><button type="submit" name="send_mail" value="1"
					data-confirm="Send mail? Are you sure?" class="btn btn-primary btn-lg btn-block">Send mail</button>
			</div>
		</form>
	</div>
</div>
{{/inline}}
{{/par_base}}