{{#> par_base }}
{{#*inline "pactive"}}
active
{{/inline}}
{{#*inline "content"}}
<h1>
	Public key '{{sub.public_key.comment}}' for
	{{#if (eq sub.owner.entity_type "User")}}
	<a href="../../users/{{sub.owner.entity_id}}" class="user">{{sub.owner.name}}</a>
	{{/if}}
	{{#if (eq sub.owner.entity_type "ServerAccount")}}
	<a href="../../servers/unimplemented/accounts/{{this.owner.entity_id}}"
		class="serveraccount">{{this.owner.name}}@unimplemented</a>
	{{/if}}
</h1>
<ul class="nav nav-tabs">
	<li><a href="#info" data-toggle="tab">Information</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane {{#if (not (or user.is_admin sub.is_owner))}}active{{/if}}" id="info">
		<h2 class="sr-only">Information</h2>
		<dl>
			<dt>Key data</dt>
			<dd>
				<pre>{{sub.public_key.type_}} {{sub.public_key.keydata}} {{sub.public_key.comment}}</pre>
			</dd>
			<dt>Key size</dt>
			<dd>{{sub.public_key.keysize}}</dd>
			<dt>Fingerprint (MD5)</dt>
			<dd>{{sub.public_key.fingerprint_md5}}</dd>
			<dt>Randomart (MD5)</dt>
			<dd>
				<pre class="ascii-art">{{sub.public_key.randomart_md5}}</pre>
			</dd>
			<dt>Fingerprint (SHA256)</dt>
			<dd>{{sub.public_key.fingerprint_sha256}}</dd>
			<dt>Randomart (SHA256)</dt>
			<dd>
				<pre class="ascii-art">{{sub.public_key.randomart_sha256}}</pre>
			</dd>
			<dt>Upload Date</dt>
			<dd>{{sub.public_key.upload_date}}</dd>
			<dt>Expiration Date</dt>
			<dd>
			</dd>
		</dl>
	</div>
</div>
{{/inline}}
{{/par_base}}